//- html
//-   head
//-     title= title
//-   body
//-     h1= message
//-     p j'aime le chocolat

extends master.pug

block content
    h1(class="text-center") Bienvenue dans mon monde
    br
    p Vous allez découvrir ici un moyen simple et efficace pour chercher des salles de cinéma en fonction de vos critères.