<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" , integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
        link(rel="stylesheet", href="css/style.css")
    body
        
        header(class="navbar navbar-default")
            ul(class="nav nav-pills")
                li
                    a(href="/")
                        img(src="../image/icon_fox.png", alt="")
                li
                    a(href="login") Connexion
                li
                    a(href="register") Inscription

        //- message = valeur , kind est la clé du message on a un exemple qui est que la clé est sucess
        each messages, kind in flashMessages
            <div class="alert alert-#{kind} alert-flash">
                each message in messages
                    | #{message}
            </div>

        div(class="container")
            div(class="element")
                block content

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")